.fa-star:hover {
	color: yellow;
}

.favorite-btn-on {
    color: yellow;
    border: none;
    outline: none;
}

.btn-warning {
	background-color: #f0ad4e !important;
	color: #fff !important;
}

.btn-danger {
	background-color: #d9534f !important;
	color: #fff !important;
}

#favorite-btn {
	outline: none;
}